.terminal {
  background-color: #362320;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 200px;
  overflow-y: scroll;
  /* hide the scrollbar */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.terminalInput {
  background-color: #362320;
  color: rgb(214, 216, 223);
  font-family: "Roboto Mono", monospace;
  padding-right: 15px;
  margin: 0;
  outline: none;
  border: none;
  font-size: 15px;
  caret-color: rgb(214, 216, 223);
  /* wish this was supported in more browsers */
  caret-shape: block;
  /* change if I change the padding and margins */
  width: calc(100% - 30px);
}

.terminalInputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.terminalInputPrompt {
  color: #37d359;
  font-family: "Roboto Mono", monospace;
  font-size: 15px;
  padding-right: 5px;
  padding-left: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0;
}
